@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --chat-color-primary: #4393cd;
  --chat-color-info: #f9836b;
  --chat-color-text: #000;
  --chat-font-family: "Poppins", sans-serif;
  --chat-radius: 10px;
}
html {
  scroll-behavior: smooth;
}
.chat_box_conversation {
  font-family: var(--chat-font-family);
}
.chat_row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.chat_column {
  width: 50%;
}
.chat_box {
  display: flex;
  padding: 10px;
  color: #000;
  column-gap: 6px;
  align-items: top;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 300;
  font-size: 15px;
  border-radius: 8px;
}
.chat_box[style*="display: block"] {
  display: flex !important;
}
.chat_box.user {
  --color: #000;
  background-color: #ffffff69;
  color: var(--color);
  box-shadow: 5px 3px 7px 0 #00000017;
  & * {
    color: var(--color) !important;
  }
}
.chat_box.agent {
  background-color: var(--chat-color-primary);
  color: #fff;
}
.chat_box {
  --position: -60px;
  & .avatar {
    position: absolute;
    bottom: 0;
    right: var(--position);
  }
  &.user .avatar {
    right: auto;
    left: var(--position);
  }
}
.chat_box .msg {
  width: 100%;
  & h5 {
    margin: 0;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
  }
  & h6 {
    line-height: 1.4rem;
    margin: -1px 0 5px 0;
    font-size: 14px;
    font-weight: 500;
  }
}
.chat_box img:not(.read_check img) {
  border-radius: 100px;
  height: 50px;
  width: 50px;
  object-fit: cover;
  object-position: top;
}
.chat_box_conversation:not(:last-child) {
  margin-bottom: 35px;
}
/*
section.chat_row > .main_chat {
  overflow: hidden;
  display: grid;
  justify-content: start;
}*/
.chat_box {
  display: none;
  max-width: 310px;
  margin-left: 0;
  margin-right: 0;
  position: relative;
}
.check_box {
  display: flex;
  flex-direction: row;
  align-items: start;
  column-gap: 8px;
}
.greeting_col {
  font-family: var(--chat-font-family);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  row-gap: 30px;
  margin-left: 80px;
}
.check_content h5 {
  font-size: 18px;
  text-transform: capitalize;
  margin: 0;
}
.check_content p {
  font-size: 15px;
  margin: 0;
}
.check_box .checked {
  border: 2px solid;
  border-radius: 5px;
  width: 35px;
  height: 35px;
}
.check_content {
  width: 90%;
  color: gray;
}
.read_check {
  font-size: 12px !important;
  opacity: 0.5;
}
.checked img {
  transform: scale(1.2) translate(5px, -1px);
  display: none;
  transform: scale(1.2) translate(5px, -1px);
  display: none;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  filter: invert(76%) sepia(10%) saturate(4041%) hue-rotate(310deg)
    brightness(93%) contrast(112%);
}
.show_img.checked img {
  animation: show_img 0.3s linear 0s forwards;
}
@keyframes show_img {
  0% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}
.main_chat_box svg.bi-send-fill {
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
}
.main_chat_box i.bi-emoji-smile {
  font-weight: bold;
  font-size: 20px;
  margin-top: -6px;
  -webkit-text-stroke: 1px;
}
.main_chat_box .container {
  border: 1px solid #3333333b;
  border-radius: 8px 8px 0 0;
}
#chatHeader .dash_icon {
  -webkit-text-stroke: 1px;
}

#chatHeader svg.bi-dash-lg {
  transform: translateY(5px);
  height: 20px;
}

#chatHeader .cross_icon {
  margin-left: 10px;
}

.main_chat_box img {
  pointer-events: none;
}
.chat_column .main_chat {
  overflow-y: auto;
  height: 60vh;
  padding: 10px 20px;
}
.chat_body {
  font-family: var(--chat-font-family);
  background-image: url(./images/paper-cover.jpg);
  background-size: cover;
  background-repeat: repeat;
  padding: 30px 0;
  overflow: hidden;
}
.chat_box_full {
  max-width: 400px;
  margin: auto;
  background-color: pink;
}
.chat_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  font-weight: bold;
  color: #fff;
  background-color: var(--chat-color-primary);
  border-top-right-radius: var(--chat-radius);
  border-top-left-radius: var(--chat-radius);
  height: 50px;
}
.chat_logo_bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 20px 0;
}
.chat_box.agent {
  margin-right: 46px;
}
.chat_box.user {
  margin-left: 46px;
}
/* ------------- MEDIA QURIES */

@media only screen and (min-width: 1025px) and (max-width: 1300px) {
  .chat_column .main_chat {
    width: 60%;
  }
  .chat_column .greeting_col {
    width: 40%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .chat_row {
    flex-direction: column;
  }
  .chat_column {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .chat_column .main_chat {
    overflow-y: auto;
  }
  .chat_box_conversation {
    margin-left: 60px;
    margin-right: 60px;
  }
  .check_content {
    width: 100%;
  }
  .greeting_col {
    margin-top: 30px;
    row-gap: 10px;
  }
}

@media only screen and (max-width: 575px) {
  .current_timer {
    display: none;
  }
  .greeting_col {
    margin-left: 0;
    row-gap: 5px;
  }
  .chat_column .main_chat {
    height: 50vh;
  }
  .chat_box {
    padding: 6px;
  }
  .chat_box_conversation {
    margin: 0;
  }
  .chat_box.user {
    margin-left: 65px;
    margin-right: 5px;
  }
  .chat_box.agent {
    margin-right: 65px;
    margin-left: 5px;
  }
  .check_content h5 {
    font-size: 16px;
  }
  .check_content p {
    font-size: 14px;
  }
  .check_box .checked {
    width: 30px;
    height: 30px;
  }
}
