@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

@font-face {
  font-family: "Open Sans Condensed";
  src: url("./fonts/OpenSans_Condensed-Light.woff2") format("woff2"),
    url("./fonts/OpenSans_Condensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("./fonts/OpenSans_Condensed-Regular.woff2") format("woff2"),
    url("./fonts/OpenSans_Condensed-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("./fonts/OpenSans_Condensed-Medium.woff2") format("woff2"),
    url("./fonts/OpenSans_Condensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("./fonts/OpenSans_Condensed-SemiBold.woff2") format("woff2"),
    url("./fonts/OpenSans_Condensed-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("./fonts/OpenSans_Condensed-Bold.woff2") format("woff2"),
    url("./fonts/OpenSans_Condensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("./fonts/OpenSans_Condensed-ExtraBold.woff2"),
    url("./fonts/OpenSans_Condensed-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
